.spcsh-sheet-container {
  container-type: inline-size;
  container-name: spcsh-sheet;
  max-width: 1000px;
  padding: 10px;
}

.spcsh-sheet-container p {
  margin: 0;
  margin-top: 0.5rem;
}

.spcsh-head {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.spcsh-head .spcsh-group-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  flex-wrap: wrap;
}

.spcsh-head .spcsh-element {
  width: 100%;
}

.spcsh-head .spcsh-element p, .spcsh-head .spcsh-element div {
  border-bottom: 1px solid;
}

.spcsh-head .spcsh-element span {
  font-size: 0.8rem;
}

/* Special style for some attribute values */
.spcsh-attribute {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  background-color: black;
  color: white;
}

.spcsh-attribute .spcsh-attribute-group {
  position: relative;
}

.spcsh-attribute .spcsh-attribute-group.full-width {
  width: 100%;
}

.spcsh-attribute p {
  position: relative;
  margin: 0;
  padding: 0.3rem 30px 0.3rem 0.5rem;
}

.spcsh-attribute .spcsh-group-sub-attribute > .spcsh-sub-attribute {
  position: relative;
  font-size: 10px;
  padding-right: 22px;
  margin-right: 38px;
}

.spcsh-attribute .spcsh-group-sub-attribute > .spcsh-sub-attribute:last-of-type {
  margin-right: 0;
}

.spcsh-group-attribute > .spcsh-attribute {
  width: 100%;
 }

.spcsh-group-attribute > .spcsh-attribute p {
 width: 100%;
}

.spcsh-group-attribute > .spcsh-attribute-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid;
  padding: 0.75rem 0;
}

.spcsh-group-attribute > .spcsh-attribute-content:empty {
  border: none;
  padding: 0;
}

.spcsh-group-attribute > .spcsh-attribute-content > p {
  margin: 0 0.5rem;
}

.spcsh-group-attribute .spcsh-attribute-infos {
  margin-left: 1.5rem;
}

.spcsh-attribute.sub-element {
  color: inherit;
  background-color: inherit;
}

.spcsh-attribute.sub-element p {
  margin-right: 0.3rem;
  border-bottom: 1px solid;
  padding: 0;
  padding-right: 18px;
}

.spcsh-attribute.sub-element p .diag-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 100%;
  border-bottom: 1px solid;
  transform: rotate(45deg);
}

.spcsh-attribute.sub-element p .square {
  position: absolute;
  top: calc(50% - 1px);
  left: calc(-0.7 * 0.5rem - 4px);
  width: 5px;
  height: 5px;
  border: 1px solid;
  background-color: black;
}

.spch-attribute-multiple-values {
  position: relative;
  top: calc(50% - 16px);
  left: -16px;
  display: flex;
  gap: 0.3rem;
}

.spch-attribute-multiple-values .shape-container.hex-shape {
  position: relative;
  right: 0;
  top: 0;
}

/* Style specific elements */
.spcsh-attributes-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1.5rem 0;
}

.spcsh-crew, .spcsh-engines {
  width: 100%;
}

.spcsh-engines {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.spcsh-engines > .spcsh-attribute {
  width: auto;
}

.spcsh-defense > .spcsh-group-attribute {
  width: 100%;
}

.spcsh-sensors {
  margin: 1.5rem 0;
}

.spcsh-sensors .spcsh-attribute-content {
  flex-direction: column;
  padding: 0.75rem 0.5rem;
}

.spcsh-sensors .spcsh-attribute-content > div {
  width: 100%;
}

.spcsh-sensors .spcsh-attribute-content .spcsh-sensors-image {
  max-width: 350px;
}

.spcsh-weapons {
  margin: 1.5rem 0;
}

.spcsh-weapon {
  display: flex;
  border-bottom: 1px solid;
  border-left: 1px solid;
}

.spcsh-weapon .triangle {
  position: absolute;
  top: 0;
  left: calc(100% - 16px);
  width: 29px;
  height: 40px;
  background-color: black;
  clip-path: polygon(0 0, 100% 29px, 100% 100%, 0 100%);
}

.spcsh-weapon .spcsh-weapon-type {
  position: relative;
  width: 50%;
}

.spcsh-weapon .spcsh-weapon-type .oct-shape {
  width: 100px;
  height: 100px;
}

.spcsh-weapon .spcsh-weapon-type .oct-shape .shape-border {
  width: 96%;
  height: 96%;
}

.spcsh-weapon .spcsh-weapon-type .oct-shape .shape-content {
  flex-wrap: wrap;
  transform: rotate(45deg);
}

.spcsh-weapon .spcsh-weapon-type .oct-shape .shape-content > div {
  width: 50%;
  height: 50%;
  border-left: 1px solid;
  border-bottom: 1px solid;
}

.spcsh-weapon .spcsh-weapon-type .oct-shape .shape-content > div.spcsh-available {
  background-color: darkgreen;
  color: white;
}

.spcsh-weapon .spcsh-weapon-type .oct-shape .shape-content > div > p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 11px;
  margin-top: 0;
  transform: rotate(-45deg);
}

.spcsh-weapon .oct-shape .shape-content > .spcsh-right > p, .spcsh-weapon .oct-shape .shape-content > .spcsh-left > p {
  writing-mode: vertical-lr;
}

.spcsh-weapon .spcsh-weapon-type .oct-shape .shape-content > .spcsh-right > p {
  transform: rotate(135deg);
}

.spcsh-weapon .spcsh-weapon-type > .spcsh-attribute {
  clip-path: polygon(calc(100% - 15px) 0, 0 0, 0 100%, calc(100% - 15px) 100%);
}

.spcsh-weapon .spcsh-weapon-type > .spcsh-attribute-content {
  border: none;
  gap: 0;
  padding-top: 0.5rem;
}

.spcsh-weapon .spcsh-weapon-type > .spcsh-attribute-content span {
  font-size: 11px;
}

.spcsh-weapon .spcsh-weapon-type > .spcsh-attribute-content .spcsh-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(70px - 0.5rem);
  border-bottom: 1px solid;
  padding-right: 90px;
}

.spcsh-weapon .spcsh-weapon-type > .spcsh-attribute-content .spcsh-type > p {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 0.5rem;
}

.spcsh-weapon .spcsh-weapon-type > .spcsh-attribute-content .spcsh-type > div {
  display: flex;
  justify-content: space-between;
}

.spcsh-weapon .spcsh-weapon-type > .spcsh-attribute-content .spcsh-note > p {
  margin: 0.5rem 0.5rem 0 0.5rem;
}

.spcsh-weapon .spcsh-weapon-info {
  width: 100%;
  margin-top: 1.75rem;
}

.spcsh-weapon .spcsh-weapon-info > .spcsh-attribute {
  padding-left: 15px;
}

.spcsh-weapon .spcsh-weapon-info > .spcsh-attribute-content {
  border: none;
  border-left: 1px solid;
  border-right: 1px solid;
}

.spcsh-weapon .spcsh-weapon-info > .spcsh-attribute-content > p {
  padding-left: 15px;
}

/* Shape elements */
.shape-container {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: black;
  z-index: 1;
}
.shape-container .shape-border {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: black;
}
.shape-container .shape-border .shape-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  height: 100%;
  font-size: initial;
}
.shape-container.size-small {
  width: 32px;
  height: 32px;
}
.shape-container.size-small {
  width: 32px;
  height: 32px;
}

/* Hexagonal shape */
.hex-shape {
  position: absolute;
  right: -20px;
  top: calc(50% - 20px);
  -webkit-clip-path: polygon(0% 50%, 25% 95%, 75% 95%, 100% 50%, 75% 5%, 25% 5%);
  clip-path: polygon(0% 50%, 25% 95%, 75% 95%, 100% 50%, 75% 5%, 25% 5%);
}
.hex-shape.rotate {
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}
.hex-shape .shape-border {
  -webkit-clip-path: polygon(0% 50%, 25% 95%, 75% 95%, 100% 50%, 75% 5%, 25% 5%);
  clip-path: polygon(0% 50%, 25% 95%, 75% 95%, 100% 50%, 75% 5%, 25% 5%);
}
.hex-shape.rotate .shape-border {
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}
.hex-shape.size-small {
  right: -16px;
  top: calc(50% - 16px);
}
.hex-shape.size-small .shape-content {
  font-size: 0.8rem;
}

/* Octogonale shape */
.oct-shape {
  position: absolute;
  right: -15px;
  top: 0.8rem;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.oct-shape .shape-border {
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

@container spcsh-sheet (min-width: 460px) {
  .spcsh-head .spcsh-group-container {
    flex-wrap: initial;
  }
}

@container spcsh-sheet (min-width: 700px) {
  .spcsh-attributes-container {
    flex-direction: row;
  }
  .spcsh-sensors .spcsh-attribute-content {
    flex-direction: row;
  }
}